$header-height: 50px;
$left-sidebar-width: 200px;
$right-sidebar-width: 300px;
$border-color: rgba(0, 0, 0, 0.05);
$primary-color: #2ecc71;
$danger-color: #e74c3c;
$body-color: #2c3e50;
$sent-background: #D3D3D3;
$sent-color:#000000;
$replies-background: #D81A0E; 
$replies-color:  #ffffff;